.footer img {
    height:55px;
    padding-top: 40px;
}

.footer .menu-footer {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 20px;
}

.menu-footer li a {
    color: black;
}

.footer .info-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .reseau {
    display: flex;
    padding-top: 20px;
    list-style: none;
    gap: 20px;
    padding-bottom: 20px;
}

.reseau li a {
    color:black;
}
